<nav id="navbar-home">
  <%= image_tag "logo_exceltips.png", class:"logo-avatar" %>
  <% if user_signed_in? %>
    <%= link_to 'Ma formation', progressions_path, class: 'button-navbar' %>
  <% else %>
    <%= link_to 'Acheter', "#", data: {toggle: "modal", target: "#priceModal"}, class: 'button-navbar' %>
  <% end %>
</nav>
<div id="banner-home">
  <div id="banner-home--title">
    <h1>2 heures pour maîtriser Excel</h1>
    <h3>C'est tout ce qu'il vous faut.</h3>
    <%= link_to "Rejoindre la formation", "#",class:"button-navbar", data: {toggle: "modal", target: "#priceModal"} %>
  </div>
  <%= image_tag "detour_me_two.png" %>
</div>
<div id="statistic">
  <div id="udemy-subscriptions">
    <h3>+1000 inscriptions</h3>
    <%= image_tag 'udemy_logo.svg' %>
  </div>
  <div id="udemy-rating">
    <h3>Noté 4.5 sur 5</h3>
    <ul>
      <li class="star-rating"><i class="fas fa-star"></i></li>
      <li class="star-rating"><i class="fas fa-star"></i></li>
      <li class="star-rating"><i class="fas fa-star"></i></li>
      <li class="star-rating"><i class="fas fa-star"></i></li>
      <li class="star-rating"><i class="fas fa-star-half-alt"></i></li>
    </ul>
    <p>sur plus de 70 avis</p>
  </div>
</div>
<div id="social-proof">
  <h2 class="label-title">Ce que <span class="label-pointer">les élèves</span> en disent</h2>
  <div id="social-proof--images">
    <%= image_tag 'feedback-one.png', class:"img-feedback" %>
    <%= image_tag 'feedback-two.png', class:"img-feedback" %>
    <%= image_tag 'feedback-three.png', class:"img-feedback" %>
    <%= image_tag 'feedback-four.png', class:"img-feedback" %>
    <%= image_tag 'feedback-five.png', class:"img-feedback" %>
    <%= image_tag 'feedback-six.png', class:"img-feedback" %>
    <%= image_tag 'feedback-seven.png', class:"img-feedback" %>
    <%= image_tag 'feedback-eigth.png', class:"img-feedback" %>
    <%= image_tag 'feedback-nine.png', class:"img-feedback" %>
    <%= image_tag 'feedback-ten.png', class:"img-feedback" %>
  </div>
</div>
<div id="value-proposition">
  <h2 class="label-title">Pourquoi choisir <span class="label-pointer">Exceltips ?</span></h2>
  <h4><i class="fas fa-caret-right"></i> L'assurance d'apprendre uniquement l'essentiel</h4>
  <p>90% des vos tâches peuvent être réalisées avec quelques formules Excel</p>
  <p>Avec la formation Exceltips, vous allez maîtriser ces formules !</p>
  <h4><i class="fas fa-caret-right"></i> Une formation en 100% en ligne</h4>
  <p>Un espace personnel dédié où vous allez pouvoir poser vos questions et échanger avec les étudiants Exceltips</p>
  <p>Profitez d'être dans le train, dans les transports en communs pour vous améliorer sur Excel</p>
  <h4><i class="fas fa-caret-right"></i> Un apprentissage adapté à tous</h4>
  <p>Des fiches, ebook, exercices à télécharger et réaliser chez vous !</p>
  <p>Vous préférez le format vidéo ? Cela tombe bien, c'est inclus !</p>
  <h4><i class="fas fa-caret-right"></i> Qui vous a dit qu'il fallait des années ?</h4>
  <p>Deux heures, c'est ce qu'il vous faut avec Exceltips pour devenir productif sur Excel</p>
  <p>Fini les formations interminables pour un résultat incertain</p>
  <%= link_to "Passer à Exceltips", "#", class:"button-navbar", data: {toggle: "modal", target: "#priceModal"} %>
</div>
<div id="kind-student">
  <h2>Excel ne doit plus être un frein dans votre vie professionnelle</h2>
  <p>Si rien que le mot Excel vous fait frémir, que vous ne vous sentez pas à l'aise avec Excel ou que vous ne savez pas comment fonctionne une RechercheV</p>
  <strong><h6>La formation Exceltips est faite pour vous</h6></strong>
</div>
<div id="program-exceltips">
  <h2 class="label-title">Le<span class="label-pointer"> programme</span> de la formation Exceltips ?</h2>
  <h4>L'essentiel, rien d'autre.</h4>
  <ul>
    <li>
      <div class="card-course">
        <div class="card-course--left">
          <h4> Partie 1</h4>
          <h4>Les essentiels du Texte</h4>
        </div>
        <div class="card-course--right">
          <p><i class="far fa-check-circle"></i> Apprentissage des formules texte indispensable à maîtriser</p>
          <p><i class="far fa-check-circle"></i> Des vidéos explicatives</p>
          <p><i class="far fa-check-circle"></i> Des fiches à télécharger</p>
          <p><i class="far fa-check-circle"></i> Des exercices corrigés à réaliser</p>
        </div>
      </div>
    </li>
    <li>
      <div class="card-course">
        <div class="card-course--left">
          <h4> Partie 2</h4>
          <h4>Les essentiels business</h4>
        </div>
        <div class="card-course--right">
          <p><i class="far fa-check-circle"></i> Apprentissage des formules business indispensable à maîtriser</p>
          <p><i class="far fa-check-circle"></i> Des vidéos explicatives</p>
          <p><i class="far fa-check-circle"></i> Des fiches à télécharger</p>
          <p><i class="far fa-check-circle"></i> Des exercices corrigés à réaliser</p>
        </div>
      </div>
    </li>
    <li>
      <div class="card-course">
        <div class="card-course--left">
          <h4> Partie 3</h4>
          <h4>Créer ses propres fichiers</h4>
        </div>
        <div class="card-course--right">
          <p><i class="far fa-check-circle"></i> Mettre en pratique les formules apprises pour automatiser ses propres fichiers</p>
          <p><i class="far fa-check-circle"></i> Des templates de tâches déjà automatisés</p>
          <p><i class="far fa-check-circle"></i> Des fiches explicatives</p>
        </div>
      </div>
    </li>
  </ul>
</div>
<div id="price-section">
  <h2 class="label-title">Quel est le <span class="label-pointer">prix</span></h2>
  <div class="card-price">
    <div class="card-price--body">
      <div class="card-price--column">
        <span><i class="fas fa-caret-right"></i> <h6><strong>Accès à la formation Exceltips à vie</strong></h6></span>
        <span><i class="fas fa-caret-right"></i><h6><strong>Accès à la communeauté Exceltips</strong></h6></span>
        <span><i class="fas fa-caret-right"></i><h6><strong>Ebook +60 pages</strong></h6></span>
      </div>
      <div class="card-price--column">
        <span><i class="fas fa-caret-right"></i><h6><strong>+15 vidéos explicatives</strong></h6></span>
        <span><i class="fas fa-caret-right"></i><h6><strong>+15 fiches téléchargeables</strong></h6></span>
        <span><i class="fas fa-caret-right"></i><h6><strong>+15 exercices à réaliser</strong></h6></span>
      </div>
    </div>
    <div class="card-price--footer">
      <span id="label-price"><h2>50€</h2><h4>ttc</h4></span>
      <div>
        <h3>Satisfait ou remboursé</h3>
        <%= link_to "Me former avec Exceltips", "#", class:"button-navbar", data: {toggle: "modal", target: "#priceModal"} %>
      </div>
    </div>
  </div>
</div>
<div id="student-section">
  <h2>Vous êtes étudiants ?</h2>
  <div>
    <h3>Bénéficiez de 25% de réduction !</h3>
    <h5>Pour bénéficier de l'offre, envoyez un mail à contact@exceltips.fr</h5>
  </div>
</div>
<div id="who-ami">
  <h2 class="label-title">Le prof, <span class="label-pointer">Thomas Rodier</span></h2>
  <div id="who-ami--body">
    <%= image_tag 'me_detoure.png', id: "avatar-home" %>
    <div id="who-ami--description">
      <span><i class="fas fa-caret-right"></i> <h5><strong>Contrôleur de gestion Reporting dans un groupe du CAC40</strong></h5></span>
      <span><i class="fas fa-caret-right"></i> <h5><strong>Contrôleur de gestion R&D dans un groupe du CAC40</strong></h5></span>
      <span><i class="fas fa-caret-right"></i> <h5><strong>Contrôleur de gestion dans une Startup</strong></h5></span>
      <span><i class="fas fa-caret-right"></i> <h5><strong>Développeur Freelance FullStack</strong></h5></span>
    </div>
  </div>
</div>
<div id="why-exceltips">
  <h2 class="label-title">Pourquoi avoir créé <span class="label-pointer">Exceltips ?</span></h2>
  <span><i class="fas fa-caret-right"></i> <h5><strong>Créer une formation qui me convient</strong></h5></span>
  <p>La vraie problématique que j'ai rencontré lorsque j'ai commencé à me documenter sur Excel, c'est le nombre incalculable d'informations que l'on peut trouver sur internet.</p>
  <p>Et on s'y perd très facilement, on ne sait pas si c'est quelque chose d'indispensable à apprendre ou si c'est uniquement "gadget".</p>
  <p>C'est pourquoi j'ai décidé de regrouper les formules que j'utilises tous les jours pour les partager.</p>
  <span><i class="fas fa-caret-right"></i> <h5><strong>Avoir un bagage solide dés le début de la vie active</strong></h5></span>
  <p>Lorsque j'ai intégré mon école de commerce, j'ai pensé avoir un bagage suffisant sur Excel pour mon premier stage.</p>
  <p>Premier jour, la désilusion. Je n'étais même pas capable de comprendre ce que je voyais sur le fichier Excel.</p>
  <p>C'est également pour cette raison que j'ai créé Exceltips, Excel doit être un atout dans votre vie professionnelle !</p>
  <span><i class="fas fa-caret-right"></i> <h5><strong>Partager les connaissances que j'ai pu acquérir au plus grand nombre</strong></h5></span>
  <p>J'ai toujours voulu transmettre et aider !</p>
  <p>Cette formation c'est aussi un moyen pour moi de te transmettre tout ce que je peux savoir sur Excel et de t'en faire profiter.</p>
</div>
<div id="callback-value">
  <h4>Une formation 100% en ligne</h4>
  <h5>Vous avez des questions? Envoyez moi un mail à contact@exceltips.fr</h5>
</div>
<div id="faq-section">
  <h2 class="label-title">Questions fréquemment <span class="label-pointer">posées</span></h2>
  <div class="card-faq">
    <strong><h4>Jusqu'à quand ai-je accès à la formation ?</h4></strong>
    <strong><p>La formation est accessible à vie !</p></strong>
    <p>Vous profiterez également des nouveautés et des mises à jours de la formation. </p>
  </div>
  <div class="card-faq">
    <strong><h4>Quel est le format de la formation</h4></strong>
    <strong><p>La formation est 100% en ligne !</p></strong>
    <p>Chaque section possède une vidéo explicative et du contenu téléchargeable</p>
  </div>
  <div class="card-faq">
    <strong><h4>Quel est le profil des participants?</h4></strong>
    <strong><p>Les participants sont principalement des personnes voyant Excel comme un problème</p></strong>
    <p>Mais à la suite de la formation, Excel devient un atout pour votre vie professionnelle</p>
  </div>
</div>
<div id="footer">
  <div id="footer--body">
    <%= image_tag 'logo_exceltips.png', class:"logo-avatar" %>
    <%= mail_to "contact@exceltips.fr", subject: "Thomas, j'ai une question à propos d'Exceltips" do %>
      <p><i class="fas fa-envelope"></i> Nous contacter</p>
    <% end %>
    <div id="footer--body--social">
      <h6>Nous suivre sur les réseaux</h6>
      <a href="https://www.facebook.com/exceltips.fr/"><i class="fab fa-facebook icon-footer"></i></a>
      <a href="https://www.instagram.com/exceltips.fr/"><i class="fab fa-instagram icon-footer"></i></a>
    </div>
  </div>
  <p>Fait avec <i class="fas fa-heart font-red"></i> à Paris - © 2019 - 2020 tous droits réservés Exceltips.fr</p>
</div>
<!-- MODAL -->
<div class="modal" id="priceModal"tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>La formation Exceltips c'est un premier pas vers l'apprentissage d'Excel</p>
        <strong><p class="label-pointer">Alors, n'hésite plus ... DO IT !</p></strong>
        <%= form_tag charges_path do %>
          <article>
            <% if flash[:error].present? %>
              <div id="error_explanation">
                <p><%= flash[:error] %></p>
              </div>
            <% end %>
            <label class="amount">
            </label>
          </article>
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                  data-description="Formation Exceltips"
                  data-amount="5000"
                  data-locale="auto">

                  </script>
        <% end %>
      </div>
      <div class="modal-footer">
        <i class="fab fa-cc-stripe icon-checkout"></i>
        <i class="fab fa-cc-visa icon-checkout"></i>
        <i class="fab fa-cc-mastercard icon-checkout"></i>
        <i class="fas fa-shield-alt icon-checkout"></i>
        <strong><h5>Paiement sécurisé via Stripe</h5></strong>
      </div>
    </div>
  </div>
</div>
<!-- <div class="banner-navbar">
  <%#= link_to 'Acheter la formation', new_charge_path, class: 'button-navbar active-navbar'%>
</div> -->


