<div class="wrapper-global">
  <%= render partial: 'shared/dashboard_one' %>
  <div class="container-courses">
    <div class="section-courses">
      <h3>Introduction</h3>
      <%= link_to course_path(@first_course) do %>
        <%= render partial: 'shared/card_large', locals: { course: @first_course } %>
      <% end %>
    </div>
    <div class="section-courses">
      <h3>Texte - Les indispensables</h3>
      <% @text_courses.each do |course| %>
        <%= link_to course_path(course) do %>
          <%= render partial: 'shared/card_large', locals: { course: course } %>
        <% end %>
      <% end %>
    </div>
    <div class="section-courses">
      <h3>Business - Les indispensables</h3>
      <% @business_courses.each do |course| %>
        <%= link_to course_path(course) do %>
          <%= render partial: 'shared/card_large', locals: { course: course } %>
        <% end %>
      <% end %>
    </div>
    <div class="section-courses">
      <h3>Imbrications - Les indispensables</h3>
      <% @imbrication_courses.each do |course| %>
        <%= link_to course_path(course) do %>
          <%= render partial: 'shared/card_large', locals: { course: course } %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
</div>